* {
  font-family: "Arial", serif;
  color: black;
}
body {
  background-color: whitesmoke;
}
.cards {
  border: 1px solid rgb(223, 66, 66);
  width: auto;
  height: auto;
  /* display: flex; */
  /* background-color: white; */

  /* background-image: url(/img/back\ 1.png); */
}
.front {
  background-size: 100%;
  background-repeat: no-repeat;
  width: 336px;
  height: 192px;
  position: relative;
}
#front1 {
  background-image: url("/img/front1.png");
  /* background-image: url(/img/front1.png); */
}

#front2 {
  background-image: url("/img/front2.png");
}

#front3 {
  background-image: url("/img/front3.png");
}

#front4 {
  background-image: url("/img/front4.png");
}

#front5 {
  background-image: url("/img/front5.png");
}

#front6 {
  background-image: url("/img/front6.png");
}

#front7 {
  background-image: url("/img/front7.png");
}

#front8 {
  background-image: url("/img/front8.png");
}

#front9 {
  background-image: url("/img/front9.png");
}

#front10 {
  background-image: url("/img/front10.png");
}

.first-name {
  font-size: 14px;
  font-weight: 700;
  top: 25px;
  left: 27px;
}
.last-name {
  font-size: 14px;
  font-weight: 700;
  top: 45px;
  left: 27px;
}
.phoneNumber {
  top: 116.44px;
  left: 40.87px;
  font-size: 8px;
}
.email {
  top: 131.44px;
  left: 40.87px;
  font-size: 8px;
}
.address {
  top: 146.44px;
  left: 40.87px;
  font-size: 8px;
}
.companyName {
  top: 59.4px;
  /* left: 40.87px; */
  width: 90.65px;
  height: 8.6px;
  right: 25.35px;
  color: white;
  font-size: 8px;
}
.email .phoneNumber .address {
  font-size: 8px;
}
