* {
  font-family: "Arial", serif;
  color: black;
}
body {
  background-color: whitesmoke;
}
.cards {
  border: 1px solid rgb(223, 66, 66);
  width: auto;
  height: auto;
  /* display: flex; */
  /* background-color: white; */

  /* background-image: url(/public/img/back\ 1.png); */
}
.front {
  background-size: 100%;
  background-repeat: no-repeat;
  width: 336px;
  height: 192px;
  position: relative;
}
.back {
  background-size: 100%;
  background-repeat: no-repeat;
  width: 336px;
  height: 192px;
}
#front1 {
  background-image: url(/public/img/front1.png);
  /* background-image: url(/public/img/front1.png); */
}
#back1 {
  background-image: url(/public/img/back1.png);
}

#front2 {
  background-image: url("/public/img/front2.png");
}
#back2 {
  background-image: url(/public/img/back2.png);
}
#front3 {
  background-image: url(/public/img/front3.png);
}
#back3 {
  background-image: url(/public/img/back3.png);
}
#front4 {
  background-image: url(/public/img/front4.png);
}
#back4 {
  background-image: url(/public/img/back4.png);
}
#front5 {
  background-image: url(/public/img/front5.png);
}
#back5 {
  background-image: url(/public/img/back5.png);
}
#front6 {
  background-image: url(/public/img/front6.png);
}
#back6 {
  background-image: url(/public/img/back6.png);
}
#front7 {
  background-image: url(/public/img/front7.png);
}
#back7 {
  background-image: url(/public/img/back7.png);
}
#front8 {
  background-image: url(/public/img/front8.png);
}
#back8 {
  background-image: url(/public/img/back8.png);
}
#front9 {
  background-image: url(/public/img/front9.png);
}
#back9 {
  background-image: url(/public/img/back9.png);
}
#front10 {
  background-image: url(/public/img/front10.png);
}
#back10 {
  background-image: url(/public/img/back10.png);
}
.first-name {
  font-size: 14px;
  font-weight: 700;
  top: 25px;
  left: 27px;
}
.last-name {
  font-size: 14px;
  font-weight: 700;
  top: 45px;
  left: 27px;
}
.phoneNumber {
  top: 116.44px;
  left: 40.87px;
  font-size: 8px;
}
.email {
  top: 131.44px;
  left: 40.87px;
  font-size: 8px;
}
.address {
  top: 146.44px;
  left: 40.87px;
  font-size: 8px;
}
.companyName {
  top: 59.4px;
  /* left: 40.87px; */
  width: 90.65px;
  height: 8.6px;
  right: 25.35px;
  color: white;
  font-size: 8px;
}
.email .phoneNumber .address {
  font-size: 8px;
}
